.layouts {
  margin: 0 auto;
  text-align: left;
  .header {
    text-align: left;
  }
  .ant-layout-header {
    padding: 0;
  }
  
}
.layout {
  // padding: 66px 10px 10px 10px;
  // margin-top: 64px;
  // margin-top: 80px;
  width: 70%;
  margin: 0 auto;
  background: #fff;
}